
// Path to Bulma's sass folder
@use "bulma/sass" with (
  $primary: #08b2ac,
  $family-primary: '"Encode Sans", "Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif',
  $black: #000000,
  $navbar-height: 5rem,
  $navbar-item-img-max-height: 3rem,
  // $variable-columns: false,
);
  
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

.is-condensed {
  font-family: 'Encode Sans Condensed', "Encode Sans", "Inter", "SF Pro", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

// Custom variables
.navbar {
  --bulma-navbar-item-img-max-height: 6rem;
}

// make a for loop to generate classes of font-weight named .is-100 to .is-800
@for $i from 100 through 800 {
  .is-#{$i} {
    font-weight: $i;
  }
}

@import "style-classes"
